include ../components/navigation

doctype html
html(lang='en')
  head
    title= title
      |  | Jackie Kutcher
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href=assetFingerprint("css/bundle.css"))
    link(rel='author' content='David Zukowski' href='//zuko.me')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='shortcut icon' href='img/favicon.ico?v=2')
  body
    ol.notification-container
    div.page-container
      block header
      +navigation(navigation)
      div.view-container
        main.content-container(role='main')
          block view-content
      include ../components/footer
    script(src=assetFingerprint('app/app-bundle.js') defer)
