extends ../../layouts/main.jade

block view-content
  div.content-container
    h1.heading--section
      span.copy Goals
    div.row
      div.quote.col-sm-12
        p.quote-copy If you are neutral on situations of injustice, you have chosen the side of the oppressor.
        div.quote-attribution
          span.copy Desmond Tutu
