# Compiled files
client/dist
dist

# Non-development configs
**/config/*
!**/config/development.js
.ignore.js

# Sublime
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Artifacts
.DS_STORE

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Sass Cache
*.sass-cache


# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.lock-wscript
