@import '../base/base';

* {
  box-sizing: border-box;
}

// ---------------------
//  Page Structure
// ---------------------
.view-container {
  position: relative;
}

.content-container {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;
}

// ---------------------
//  Base Styles
// ---------------------
img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.list--unstyled {
  list-style: none;
  padding: 0;
}
.list--inline {
  @extend .clearfix;

  > li {
    float: left;
  }
}

// ---------------------
//  Utils
// ---------------------
.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.text--center {
  text-align: center;
}

.text--super-light {
  font-weight: 100;
}
.text--light {
  font-weight: 200;
}
.text--bold {
  font-weight: 700;
}
.text--super-bold {
  font-weight: 900;
}

// ---------------------
// Typography
// TODO: move this
// ---------------------
body {
  font-family: $font-copy;
}

h1,h2,h3,h4,h5,h6,.heading {
  font-family: $font-heading;
}

.heading {
  text-transform: uppercase;
}

.body-copy {
  text-align: justify;
}
