extends ../../layouts/main.jade

mixin career-item(item)
  div.row.career-item
    div.col-lg-2
      div.flag-list__container
        div.flag.flag--accent
          span.flag__copy=item.date
        +flag-list(item.labels)
    div.col-lg-10.career-item__container
      div.career-item__content
        h3.career-item__heading=item.heading
        for paragraph in item.copy
          p.career-item__copy=paragraph
  
mixin flag-list(labels)
  ul.flag__list
    for flag in labels
      +flag(flag)

mixin flag(flag)
  li.flag
    span.flag__heading=flag.heading

block view-content
  div.view__career
    h1.heading--section
      span.copy Career Overview
    div.content-container
      for item in careerItems
        +career-item(item)
