extends ../../layouts/main.jade
include ../../components/achievement
include ../../mixins/sidebar
include ../../mixins/content
include ../../mixins/content-with-sidebar
include ../../mixins/section-container
include ../../mixins/section-heading
include ../../mixins/section-subheading
include ../../mixins/quote

block view-content
  +section-container()
    +section-heading('Resume')
  +section-container()
    +section-subheading('Achievements')
    +sidebar()
      +quote('It is a beautiful thing when a career and a passion come together.', 'Unknown')
    +content-with-sidebar()
      ul.achievements__list
        +achievement('President of Oakland University’s Social Work Club')
        +achievement('Active member of Phi Alpha National Social Work Honor Society')
        +achievement('Recipient of Oakland University’s First Year Achievement Scholarship')
        +achievement('Recipient of Best Buy Scholarship for volunteer experience')
        +achievement('Accepted into Western Michigan’s Advanced Standing Master’s Degree Program')
        +achievement('Raised over $500 for Making Strides 5K in Rochester, MI in 2015')
        +achievement('Raised over $200 for Relay for Life at Oakland University in 2014')
        +achievement('Collaborated with Oakland University’s Phi Alpha Honor Society to collect cans for a local homeless shelter')
        +achievement('Organized Social Work Club events with other Eboard members')
        +achievement('Hosted monthly club meetings and arranging engaging ice breakers')
        +achievement('Executed a Penny Drive fundraiser between the Juniors and Seniors of the Oakland University Social Work Program for the Susan G Koman Foundation')
        +achievement('Arranged a bake sale and Bowling Fundraiser to raise money and awareness for the American Heart Association')
        +achievement('Participated in a Phi Alpha Honor Society Can Drive to raise money for Teach4Detroit')
        +achievement('Mentor of a Junior social work student through Phi Alpha Honor Society at Oakland University')
