@import '../base/base';

.form__contact {

  .details {
    float: left;
    width: 40%;
  }

  .message-container {
    width: 60%;
    float: left;

    .message-body {
      height: 400px;
    }
  }
}
