@import '../base/base';

// TODO: breakpoint-specific gutters
// TODO: .col-push-yy-x

$column-prefix : 'col' !default;
$column-count  : 12    !default;

$gutter-size: 10px;
$half-gutter: $gutter-size / 2;

.row {
  @extend .clearfix;

  position: relative;
  width : 100%;
  margin-left  : -$half-gutter;
  right: -$half-gutter;
}

.#{$column-prefix} {
  display  : block;
  position : relative;
  width    : 100%;
  float    : left;
  padding  : 0 $half-gutter;
}

@for $index from 1 through $column-count {
  $column-percentage: 100% * ($index / $column-count);

  .#{$column-prefix}-sm-#{$index},
  .#{$column-prefix}-md-#{$index},
  .#{$column-prefix}-lg-#{$index} {
    @extend .#{$column-prefix};

    padding : 0 $half-gutter;
  }

  .#{$column-prefix}-md-#{$index} {
    @include breakpoint-min($mobile + 1) {
      width : $column-percentage;
    }
  }

  .#{$column-prefix}-lg-#{$index} {
    @include breakpoint-min($tablet + 1) {
      width : $column-percentage;
    }
  }
}

@for $index from 1 through $column-count {
  .#{$column-prefix}-sm-#{$index} {
    width : 100% * ($index / $column-count);
  }
}

@for $index from 1 through $column-count {
  @include breakpoint-min($mobile + 1) {
    .#{$column-prefix}-md-#{$index} {
      width : 100% * ($index / $column-count);
    }
  }
}

@for $index from 1 through $column-count {
  @include breakpoint-min($tablet + 1) {
    .#{$column-prefix}-lg-#{$index} {
      width : 100% * ($index / $column-count);
    }
  }
}
