@import '../base/base';

.heading {
  display: block;
  position: relative;
  margin: 2rem 0 1.75rem;
  padding-left: (100% / 4);

  @include breakpoint($tablet) {
    padding: 0;
  }

  &--no-sidebar {
    padding-left: 0;
    margin-left: -1rem;
  }

  .copy {
    display: block;
    width: 100%;
    margin-left: 1rem;
    padding: 0 0 .35rem 0rem;

    color: $heading-color;
    text-transform: uppercase;
    border-bottom: $nav-border;

    &:before,
    &:after {
      font-family: FontAwesome;
      color: $color-blue;

      @include breakpoint($tablet) {
        display: none;
      }
    }

    &:before {
      margin-right: .65rem;
    }

    &:after {
      margin-left: .65rem;
    }

    @include breakpoint($tablet) {
      margin-left: 0;
      text-align: center;
    }
  }

  &.no-sidebar {
    padding: 0 8px;

    .copy {
      text-align: center;
      margin-left: 0;

      &:after {
        content: '\f100';
      }
    }
  }
}

.heading--section {
  @extend .heading;

  .copy {
    font-size: 2.45rem;
    font-weight: 300;

    &:before {
      content: '\f101';
    }
  }
}

.heading--secondary {
  @extend .heading;

  .copy {
    font-size: 2rem;
    font-weight: 300;

    &:before {
      content: '\f105';
    }
  }
}
