@import '../base/base';

.link--animate {
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: $color-blue;
    transform: translateY(12px);
    transition: all $global-transition-speed;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    &:after {
      opacity: 1;
      transform: translateY(2px);
    }
  }
}

.link {
  @extend .link--animate;

  color: $color-blue;

  &:visited {
    color: $color-blue;
  }
}
