@import '../base/base';

.view-container {
  position: relative;
  padding: 0 0 1.5rem;
  z-index: 1;
  overflow: hidden;
  background: $view-background-color;
}

.content-container {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;

  @include breakpoint($content-width) {
    padding: 0 1rem;
  }

  @include breakpoint($tablet) {
    padding: 0 .5rem;
  }
}

article {
  p {
    text-indent: 1.85rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
