@import '../base/base';

.view-container {
  background: $view-background-color;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.content-container {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;

  @include breakpoint($content-width) {
    padding: 0 2rem;
  }
}

.copy-container {
  padding: 0 2.5%;

  p {
    text-indent: 2.5rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
