extends ../layouts/main.jade

block header
  header
    div.content-container
      h1.title Sample Header
      
block view-content
  div.content-container
    //- h1.heading--section
    //-   span.copy Welcome
    div.row
      div.quote.col-sm-12
        p.quote-copy People will forget what you said,
          br
          |  people will forget what you did,
          br
          |  but people will never forget how you made them feel.
        div.quote-attribution
          span.copy Maya Angelou
    div.body-copy
      div.copy-container
        p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a focus in
          strong  Community Leadership.
