extends ../layouts/main.jade

block header
  header
    div.content-container
      h1.title Sample Header
      
block view-content
  div.content-container
    h1.heading--section
      span.copy Welcome
    div.row
      div.quote.col-sm-3
          p.quote-copy People will forget what you said, people will forget what you did, but people will never forget how you made them feel.
          div.quote-attribution
            span.copy Maya Angelou
      div.body-copy.col-sm-9
        div.copy-container
          p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration. Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration.
          p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration.
          p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration. Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration.
      div.row#goals
        h2.heading--secondary
          span.copy Goals
        div.body-copy.col-sm-12
          p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration.
          p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration.
          p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration.
