extends ../layouts/main.jade

block header
  header
    div.content-container
      h1.title Sample Header
      
block view-content
  div.content-container
    div.body-copy
      h1.heading--section
        span.copy Welcome
      div.copy-container
        p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a focus in
          b  Community Leadership.
