extends ../layouts/main.jade

include ../mixins/sidebar
include ../mixins/content-with-sidebar
include ../mixins/section-container
include ../mixins/section-heading
include ../mixins/section-subheading
include ../mixins/quote
//- 
//- block header
//-   header
//-     div.content-container
//-       h1.title Sample Header

block view-content
  +section-container()
    +section-heading('Welcome')
    +sidebar()
      +quote('People will forget what you said, people will forget what you did, but people will never forget how you made them feel.', 'Maya Angelou')
    +content-with-sidebar()
      p Hi, my name is Jacqueline Kutcher but I go by Jackie! This website is a highlight of my Bachelors education at Oakland University. I have received a Bachelors of Social Work thus far and will soon be starting my Masters of Social Work at Western Michigan University with a concentration in Policy, Planning, and Administration.
  +section-container()
    +section-subheading('About')
    +sidebar()
      div.image-container.image-container--sidebar
        img(src='img/michigan-for-marriage.jpg' alt="Michigan for Marriage")
        span.caption Standing on the Michigan State Capitol at LEAD Day for 
          a.link(href='//michiganformarriage.org') Michigan for Marriage.
    +content-with-sidebar()
      p I’ve spent most of my life in Shelby Township, Michigan besides a few years in Knoxville, Tennessee when I was a toddler. Growing up I had a very happy childhood and was very lucky to have a younger sister and brother to share the joy with. I played soccer from the time I was seven until I aged out of the league at 18! It was one of my favorite things about my childhood because I was able to travel the midwest with my teammates and experience a closeness that only being a part of a team can give you. I was also big into dancing and took a least one class a year until my junior year of high school. Dance and soccer were activities that taught me a lot about hard work, leadership, and teamwork.
      p It was not until high school that I was first introduced to the social work field when my younger brother was expelled from middle school for drug dealing. The next two years were years of crisis for my family, and the social worker that the courts assigned to my family was one of the people that really kept my family together. As tough as it was to watch my brother suffer from addiction it also really opened my eyes to the problems with the systems set up to supposedly help addicts. I was inspired to make change so I began looking at degrees that involved helping people.
      p My freshman year of college I decided that I could not focus on school with the constant stress of living with an addict so I decided to move out on my own. This was the first time in my life that I was financially independent and it taught me a lot about what it means to struggle to make ends meet. I worked 30 to 40 hours a week at a Texas Roadhouse restaurant while still maintaining a full-time student status. It was exhausting and after a year on my own I moved back in with my family.
      p Overall, my undergraduate years have been spent working towards my degree, traveling when I can manage it, and enjoying the adventures that have come my way. I am so unbelievably lucky to be surrounded by such amazing support system and I am reminded of this on a daily basis! They have helped me get through some of the hardest times of my life.
