extends ../../layouts/main.jade
include ../../mixins/sidebar
include ../../mixins/content
include ../../mixins/content-with-sidebar
include ../../mixins/section-container
include ../../mixins/section-heading
include ../../mixins/section-subheading
include ../../mixins/quote

mixin gallery-item(src, title)
  li.col-sm-12.col-md-6.col-lg-4
    div.gallery__item(id=src)
      span.gallery__item__title= title
      div.gallery__item__img(style='background-image: url("/img/gallery/#{src}.jpg")')

block view-content
  +section-container()
    +section-heading('My Gallery', true)
    +content()
    ul.gallery-items.list--unstyled
      +gallery-item('social-work-club-01', 'Social Work end of year party 2014')
      +gallery-item('social-work-club-02', 'Texas Roadhouse Trainer\'s Outing 2014')
      +gallery-item('social-work-club-03', 'Eboard at Friendsgiving 2014')
      +gallery-item('social-work-club-04', 'Club members at Friendsgiving 2014')
      +gallery-item('social-work-club-05', 'Mentor in Violence Protection Certification')
      +gallery-item('social-work-club-06', 'Volunteering at Hope Warming Center')
      +gallery-item('social-work-club-07', 'LEAD Day in Lansing, MI')
      +gallery-item('social-work-club-08', 'Volunteering at Focus: Hope')
      +gallery-item('social-work-club-09', 'Making Strides Breast Cancer Walk 2014')
      +gallery-item('social-work-club-10', 'Group photo at MVP')
      +gallery-item('social-work-club-11', 'Volunteering at Westley Community Center')
      +gallery-item('social-work-club-12', 'Leadership Camp 2014')
