extends ../../layouts/main.jade

mixin gallery-item(src, title, id)
  div.gallery__item(id=id)
    span.gallery__item__title= title
    div.gallery__item__img(style='background-image: url(#{src})')

block view-content
  div.content-container
    h1.heading--section
      span.copy Personal Gallery
    div.row
      ul.gallery-items.list--unstyled
        - for (var i=1; i<=12; i++)
          - var padded = i < 10 ? "0" + i : i;
          li.col-sm-4
            +gallery-item('img/gallery/social-work-club-' + padded + '.jpg', 'Test Item', 'social-work-' + padded)
