@import '../includes/breakpoints';
@import '../includes/colors';

// ------------------------------------
// Component Colors
// ------------------------------------

// ------------------------------------
// Generic View Styles
// ------------------------------------
$view-background-color: $color-white;
$content-width: 1000px;
$content-padding: 1rem;

// ------------------------------------
// Generic Font Styles
// ------------------------------------
$font-heading: 'Lato', sans-serif;
$font-copy: 'Open Sans', sans-serif;

$base-font-size: 1em;

$copy-color: $color-teal--dark;
$heading-color: $color-teal--dark;

// ------------------------------------
// Primary Navigation
// ------------------------------------
$nav-link-color: $copy-color;
$nav-background-color: $color-white;
$nav-border: 1px solid transparentize($color-black, .75);

$nav-hero-size: 1.5rem;
$nav-hero-color: $heading-color;
$nav-hero-accent-color: $color-blue;

$nav-mobile-threshold: $tablet;

// ------------------------------------
// Animation Constants
// ------------------------------------
$global-transition-speed: .3s;
