mixin nav-item(name)
  li
    a(href="#{name.toLowerCase().split(' ').join('-')}")= name
    span.underline

doctype html
html(lang='en')
  head
    title= title
      |  Jackie Kutcher
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/client/css/main.css')
    link(rel='author' content='David Zukowski' href='//zuko.me')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300,800' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css')
  body
    div.page-container
      header
        //- h1.title Jackie Kutcher
      nav.primary-nav
        div.content-container
          a(href='/').nav-hero
            span.nav-hero__primary Jackie
            spab.nav-hero__break  |&nbsp;
            span.nav-hero__secondary Kutcher
          ul.links.list--unstyled
            +nav-item('About')
            +nav-item('Goals')
            +nav-item('Writing Samples')
            +nav-item('BSW Curriculum')
            +nav-item('Experience')
            +nav-item('Contact')
      div.view-container
        if title
          h1.heading--section
            span.text=title
        block view-content
      footer
        div.content-container
          ul.contact-links.list--unstyled
            li
              a(href='#') Email
            li
              a(href='#') LinkedIn
    script(src='/client/app/app-bundle.js')
