extends ../../layouts/main.jade

block view-content
  div.content-container
    h1.heading--section
      span.copy Contact Me
    form.contact-form(action='/contact' method='post')
      div.row
        div.col-sm-12.col-md-4
          div.input-group
            label(for='firstName') First Name *
            input(name='firstName' placeholder='First Name' required)
          div.input-group
            label(for='lastName') Last Name *
            input(name='lastName' placeholder='Last Name' required)
          div.input-group
            label(for='email') Email Address *
            input(type='email' name='email' placeholder='Email Address' required)
          //- div.input-group--inline
          //-   label(for='receipt') Email Receipt?
          //-   input(type='checkbox' name='receipt')
        div.col-sm-12.col-md-8.contact-message-container.clearfix
          div.input-group
            label(for='message') Message (20 character minimum) *
            textarea(name='message' minlength="20" placeholder='Enter your message here...' required)
          button.contact-submit Submit
