extends ../../layouts/main.jade

block view-content
  div.content-container
    h1.heading--section
      span.copy Contact Me
    div.section__contact
      div.row
        div.col-sm-10.col-sm-push-1
          p.copy Put some text her to explain why people should contact you. They can either use the form below, or click on one of the social media links. Alternatively, they can reach you directly via your email address if you want to provide that!
      form.form.form--contact
        div.details
          input.input(name='firstName' placeholder='First Name' required)
          input.input(name='lastName' placeholder='Last Name' required)
        div.texbox__container
          textarea.textbox__content
