@import '../base/base';

.achievements__list {
  padding-left: 1rem;
  margin: 0 0 1.5rem;
}

.achievement__item {
  position: relative;
  margin: 0 0 .3rem;
  padding-left: 1.5rem;

  &:before {
    position: absolute;
    content: '\f005';
    left: 0rem;
    top: .25rem;
    font-family: FontAwesome;
    color: $color-blue;

    @include breakpoint($tablet) {
      // left: 1.25rem;
    }
  }

}
