@import '../base/base';

.achievements__list {
  margin: 0 0 1.5rem;
}

.achievement__item {
  margin: 0 0 .3rem;
  padding-left: 2.5rem;

  &:before {
    position: absolute;
    content: '\f005';
    left: 1rem;
    font-family: FontAwesome;
    color: $color-blue;
  }

  &:nth-of-type(even) {
    // background: tint($color-blue, 97%);
  }
}
