@import '../base/base';

footer {
  @extend .clearfix;

  padding: 2rem 0 4rem;

  border-top: 2px solid $color-blue;
  background: rgb(40,40,40);

  .contact {
    text-align: center;

    .copy {
      color: tint($color-teal--light, 50%);
      font-weight: 100;
    }
  }

  .contact__links {
    @extend .clearfix;

    display: inline-block;

    li {
      float: left;
      padding: 0 .3rem;

      i {
        font-size: 1.75rem;
        color: #fff;
        transition: all .3s;
      }

      &:hover {
        i {
          color: $color-blue--light;
        }
      }
    }
  }
}
