@import '../base/base';

$form-border: 1px solid tint($color-black, 85%);

.form {
  @extend .clearfix;

  position: relative;
  background: none;
  padding: 1rem 1.5rem;
  border: $form-border;
  border-radius: 5px;

  .textbox__container {

  }

  .textbox__content {
    display: block;
    width: 100%;
    border: $form-border;
  }
}

.input {
  font-family: $font-heading;
  border: $form-border;
  display: block;
}
