@import '../base/base';

.heading {
  text-transform: uppercase;
}

.heading--section {
  @extend .heading;

  display: block;
  position: relative;
  margin: 2rem 0;

  text-align: center;
  font-weight: 300;

  .copy {
    position: relative;
    padding: 0 1rem;

    background: $view-background;

    &:before {
      $width: 200%;

      content: '';
      position: absolute;
      height: 1px;
      background: tint($color-black, 75%);
      background: $color-blue;
      width: $width;
      left: -(100% - ($width / 4));
      top: 50%;
      z-index: -1;
    }
  }
}

.heading--secondary {
  @extend .heading;

  position: relative;
  margin: 2rem auto;
  text-align: center;

  .copy {
    position: relative;
    padding: 0 10rem .5rem;

    color: tint($color-black, 10%);
    font-family: $font-heading;
    font-weight: 500;
    text-transform: uppercase;

    border-bottom: 1px solid tint($color-black, 75%);
  }
}
