@import '../base/base';

.heading {
  text-transform: uppercase;
}

.heading--section {
  @extend .heading;

  position: relative;
  text-align: center;

  .text {
    position: relative;
    padding: 0 1em;

    background: $color-white;
    color: rgb(50,50,50);
    font-family: $font-heading;
    font-weight: 300;
    text-transform: uppercase;

    &:before {
      $size: 150%;

      content: '';
      position: absolute;
      // top: 50%;
      bottom: 0;
      left: 0;
      height: 1px;
      width: $size;
      left: 100% - ($size / 2);
      background: $color-blue;
    }
  }

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   height: 1px;
  //   width: 100%;
  //   background: $color-blue;
  // }
}
