@import '../base/base';

.img-crop {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container--sidebar {
  max-width: 100%;

  img {
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .caption {
    display: block;
    width: 100%;
    color: tint($color-teal--dark, 20%);
    text-align: center;

    // &:before,
    // &:after {
    //   color: $color-blue;
    //   font-family: FontAwesome;
    // }
    //
    // &:before {
    //   content: '\f10d';
    //   margin-right: 1rem;
    // }
  }
}
