@import '../base/base';

$hero-vertical-offset: 1em;

.primary-nav {
  display: block;
  width: 100%;
  position: relative;
  padding: 2rem 0;
  transition: all;

  background: $nav-background-color;
  border-bottom: $nav-border;

  &.affixed {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  @include breakpoint($nav-mobile-threshold) {
    padding: .75rem 0;
  }

  &__toggle {
    display: none;
    font-size: 2rem;
    transition: all .3s;

    @include breakpoint($nav-mobile-threshold) {
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// --------------------------------
// Navigation Hero
// --------------------------------
.primary-nav__hero {
  $hero-namespace: &;

  float: left;
  transition: all $global-transition-speed;

  color: $nav-hero-color;
  font-family: $font-heading;
  font-size: $nav-hero-size;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    @include breakpoint-min($tablet + 1) {

      &:not(#{$hero-namespace}__accent) {
        color: $nav-hero-accent-color;
        letter-spacing: .1rem;
      }

      #{$hero-namespace}__accent {
        color: $nav-hero-color;
      }
    }
  }

  @include breakpoint($tablet) {
    display: none;
  }

  &__accent {
    color: $nav-hero-accent-color;
    font-weight: 300;
    transition: color $global-transition-speed;
  }
}

// --------------------------------
// Navigation Links
// --------------------------------
.primary-nav__links {
  float: right;
  line-height: $nav-hero-size + ($nav-hero-size / 3);

  @include breakpoint($nav-mobile-threshold) {
    display: none;
    float: none;
  }
}

.primary-nav__item {
  $item-namespace: &;
  $accent-color: $color-blue;

  position: relative;
  float: left;
  margin: 0 .75rem 0 0;
  padding: 0;
  transition: all $global-transition-speed;

  &__link {
    display: block;
    height: 100%;
    color: $color-black;
    font-family: $font-heading;
    font-weight: 300;
    text-decoration: none;
    transition: all .3s;
  }

  &:hover {
    #{$item-namespace}__link {
      color: $accent-color;
    }

    #{$item-namespace}__accent {
      opacity: 1;
      background: $accent-color;
      transform: translateY(2px);
    }
  }

  &__accent {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;

    background: $color-black;
    opacity: 0;
    transform: translateY(15px);
    transition: .25s all;
  }

  @include breakpoint($nav-mobile-threshold) {
    padding: .5rem 0;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background: $color-blue;
      color: #fff;
    }
  }
}
