@import '../base/base';


.quote {
  @extend .clearfix;

  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}

.quote-copy {
  position: relative;
  text-align: center;
}

.quote-attribution {
  position: relative;
  float: right;
  margin-right: 12.5%;
  font-size: .95rem;
  // width: 100%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: -1rem;
    height: 150%;
    width: 5000px;
    background: $color-blue;
    transform: skew(-10deg, 0);
    z-index: -1;
    opacity: 1;
  }

  .copy {
    position: relative;
    top: .25rem;
    color: $color-white;

    &:before {
      content: '- ';
    }
  }
}
