@import '../base/base';

$quote-mark-color: $color-blue--faded;

.quote {
  @extend .clearfix;
  color: tint($color-teal--dark, 15%);

  &:before,
  &:after {
    font-family: FontAwesome;
    color: $quote-mark-color;
  }

  &:before {
    float: left;
    content: '\f10d';
    margin-right: 1rem;
  }
}

.quote-copy {
  position: relative;
  margin: 0;
}

.quote-attribution {
  float: right;
  margin-top: .5rem;
  color: shade($color-teal--dark, 25%);

  &:before {
    content: '- ';
  }

  &:after {
    content: '\f10e';
    margin-left: 1rem;
    font-family: FontAwesome;
    color: $quote-mark-color;
  }
}
