@import '../base/base';


.quote {
  @extend .clearfix;

  // width: 25%;
  // float: left;
  // margin: 0 3rem 1rem 0;
  font-size: 1.15rem;
  color: tint($color-teal--dark, 25%);

  &:before,
  &:after {
    font-family: FontAwesome;
    color: $color-blue;
  }

  &:before {
    float: left;
    content: '\f10d';
    margin-right: 1rem;
  }
}

.quote-copy {
  position: relative;
  margin: 0;
}

.quote-attribution {
  float: right;
  margin-top: .5rem;
  color: $color-teal--dark;

  &:before {
    content: '- ';
  }

  &:after {
    content: '\f10e';
    margin-left: 1rem;
    font-family: FontAwesome;
    color: $color-blue;
  }
}
