mixin navigation-item(name, route, mobileOnly)
  - var classes = [name.toLowerCase() === active ? 'active' : '', mobileOnly ? 'mobile-only' : ''];
  li.navigation__item(class=classes)
    a.navigation__item__link.link--animate(href="#{route}")=name
