@import '../base/base';

// TODO: better way of positioning images
.gallery__item {
  $namespace: &;
  $width: 100%;

  @mixin image-filter($pct) {
    filter: grayscale($pct);
  }

  position: relative;
  width: $width;
  height: 0;
  margin-bottom: 12px;
  padding-bottom: $width;
  overflow: hidden;

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 0;
    z-index: 2;
    opacity: 1;
    transform: translateY(12rem);
    transition: all .3s;

    color: $color-white;
    font-family: $font-heading;
    font-weight: 300;
    text-align: center;
    background: $color-blue;
  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  &:hover {
    cursor: pointer;

    #{$namespace}__title {
      transform: translateY(0);
    }
  }
}

// ---------------------------------------------
// Item-Specific Cropping
// ---------------------------------------------
[id='social-work-club-01'] {
  .gallery__item__img {
    background-position: 49% 10%;
    background-size: cover;
  }
}

[id='social-work-club-02'] {
  .gallery__item__img {
  }
}

[id='social-work-club-03'] {
  .gallery__item__img {
  }
}

[id='social-work-club-04'] {
  .gallery__item__img {
    background-size: initial;
    background-position: 50% 50%;
  }
}

[id='social-work-club-05'] {
  .gallery__item__img {
    background-position: 75% 9%;
  }
}

[id='social-work-club-06'] {
  .gallery__item__img {
    background-position: 45% 0;
  }
}

[id='social-work-club-07'] {
  .gallery__item__img {

  }
}

[id='social-work-club-08'] {
  .gallery__item__img {

  }
}

[id='social-work-club-09'] {
  .gallery__item__img {
    background-position: 50% 10%;
  }
}

[id='social-work-club-10'] {
  .gallery__item__img {
    background-position: 50% 10%;
  }
}

[id='social-work-club-11'] {
  .gallery__item__img {
    background-position: 50% 10%;
  }
}

[id='social-work-club-12'] {

}
