extends ../../layouts/main.jade
include ../../mixins/sidebar
include ../../mixins/content-with-sidebar
include ../../mixins/section-container
include ../../mixins/section-heading
include ../../mixins/section-subheading
include ../../mixins/quote

block view-content
  +section-container()
    +section-heading('BSW Education')
    +sidebar()
      +quote('It is a beautiful thing when a career and a passion come together.', 'Unknown')
    +content-with-sidebar()
      p Admission to the Bachelor of Social Work degree program is based on the following criteria: a minimum GPA of 2.80; completion of the pre-core courses; experience in the human services field (employment or volunteer work including work completed for SW 210 ); two letters of reference (one from a supervisor in a human services agency); and a personal written statement from students.
      p To earn a major in social work, students must complete a pre-core of 28 credits and a minimum of 48 credits in the core social work curriculum. 
        a.link(href='http://catalog.oakland.edu/preview_program.php?catoid=17&poid=2044') See full program details here.
  +section-container()
    +section-subheading('Internship')
    +sidebar()
      div.image-container.image-container--sidebar
        img(src='img/logos/mfs_logo.jpg' alt="Macomb Family Services")
        span.caption Interned as a social emotional consultant at 
          a.link(href='//mfsonline.org') Macomb&nbsp;Family&nbsp;Services.
    +content-with-sidebar()
      p My BSW internship experience has been an amazing experience at Macomb Family Services. I was placed in the Early Learning Community department with a supervisor who is a social emotional consultant for children under the age of five. Throughout my internship I participated in several different activities such as outreach, groups, workshops, home visiting services, maintaining case files  and classroom consultations.
      p While interning I created a self-care assessment tool that employees could use to evaluate how they are prioritizing their self-care on a weekly basis. I collected information and resources from local Autism services and created a tri-county Autism resource binder for Macomb Family Services that employees could use to refer clients. Throughout my time at Macomb Family Services I co-facilitated two Positive Solutions parenting groups in Warren and Clinton Township. 
  +section-container()
    +section-subheading('Home Visiting and Classroom Consultation Services')
    +sidebar()
    +content-with-sidebar()
      p At my internship I provided home visiting services for three clients through my time at Macomb Family Services. I was able to practice and learn micro social work interventions  including building rapport, using assessment tools, creating goals and outcomes with clients, discussing strengths, and developing a plan of action. I worked with both the parents and the teachers of each child which gave me experience working with other professionals outside of the social work profession.
      p I would assist the teacher by sitting in on several classes to observe my clients behaviors. The teacher and I would then use my observations to come up with strategies to help prevent the negative behaviors and increase self-esteem in the child. I then followed up with the parents and teacher after the strategies had been developed to see if the situation was improving. After a few weeks I had the parents and teacher fill out another social emotional development assessment so that I could compare the pre and post assessments to evaluate if there was any significant change.
