footer
  div.content-container
    div.row
      div.col-sm-12.contact
        div.copy
          p Want to get in touch? Check out my 
            a.link(href='/contact') contact page
            |  or find me here:
        ul.contact__links
          li.linkedin
            a(href='//linkedin.com/pub/jacqueline-kutcher/b1/754/2ba')
              span.sr-only LinkedIn
              i.fa.fa-linkedin
          li.email
            a(href='mailto:test@dev.com')
              span.sr-only Email
              i.fa.fa-envelope-o
