@import '../base/base';

$grid-size: 12;

.row {
  @extend .clearfix;

  position: relative;
}

.col {
  @extend .clearfix;
  float: left;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    float: left;

    width: 100% / $i;
  }
}

.col-8 {
  @extend .col;

  width: 100% / 8;
}
